@charset "UTF-8";

*{
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}

.outer-wrapper{
    background-color: #363636;
    border-radius: 100px;
    max-width: 1500px;
    opacity: 70%;
    box-shadow: 5px 5px 20px black;
}

.main{
    display: flex;
    padding: 100px;
    justify-content: center;
    color: #EEEEEE;
    font-size: 2em;
    gap: 80px;
}

p{
    text-align: center;
}

.number{
    background-color: rgba(240, 248, 255, 0.247);
    padding: 30px;
    border-radius: 20px;
}